* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}

.head {
    width: 100%;
    background-color: #AAAEEB;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#h1 {
    width: 50%;
    justify-content: center;
}

.lista {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.items {
    list-style: none;
    margin-right: 10px;
}

.head {
    /* background-color: #333; */
    color: white;
    text-align: center;
    padding: 15px;
}

.lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.items {
    margin: 0 15px;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__userActions {
    width: 80%;
    border: 1px solid #eee;
    height: 90%;
    display: flex;
    border-radius: 20px;
    padding: 10px;
}

.userActions__searchContainer,
.userActions__inputContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Afacad', sans-serif;
}

.label__text {
    width: 90%;
    font-family: 'Afacad', sans-serif;
}

.input {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 5px;
    font-family: 'Afacad', sans-serif;
}

.userActions__actions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.actions__btn {
    width: 80px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

.buscar {
    background-color: rgb(78, 104, 255);
    color: white;
}

.eliminar {
    background-color: red;
    color: white;
}

.inputContainer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.genderField {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-family: 'Afacad', sans-serif;
    display: flex;
    gap: 20px;
}