*{

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}

body{

    width: 100vw;

    height: 100vh;

}

.cont{

    border: 2px solid blue;

    background-color: aqua;

    color: blue;

    height: 100%;

    position: absolute;

}

.headd{

    border: 2px solid brown;

    background-color:  burlywood;

    color: black;

    text-align: center;  

}

#sidebar{

    width: 30%;

}

#content{

    left: 30%;

    width: 70%;

}

.opcion:hover .submenu {

    display: block;

}

.submenu {

    display: none;

}