*{
    box-sizing: border-box;
    margin: 15px;
    padding: 0;
}

.cajas{
    width:calc((100%/3)-20px);
    height: 100px;
    background-color:burlywood;
    border: 100px solid salmon;
    float: left;
    margin: 25px;
}
#C2{
    border-color: blueviolet;
}
#C1:hover{
    transform: rotate(45deg);
    transform:translatey(150px);
}
#C2:hover{
    transform: translatex(500px);
}
#C3:hover{
    transform: scale(4,8);
}