*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.cajas{
    width:calc((100% / 3) - 20px);
    height: 100px;
    background-color:burlywood;
    border: 1px solid salmon;
    float: left;
    margin: 10px;
}

@media screen and (max-width: 900px){
    #C1,#C2{
        width:calc((100% / 2) - 20px);
    }
    #C3{
        clear: left;
        width:calc(100% - 20px);    
    }
}

@media screen and (max-width:399px){
    #C1,
    #C2,
    #C3{
        clear: left;
        width:calc(100% - 20px);    
    }
}